header#home.lp-header
    section.container.d-flex.align-items-center.h-100
        .lp-calltoaction
            .lp-calltoaction__body
                h5.text-white.mb-1 HAPPY NEW YEAR

                h1.text-primary.mb-2 This Year Brings You Evana

                p.lp-calltoaction__p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco

                a.lp-btn.lp-btn_square(href='') Download

        span.lp-header__display EVANA
