doctype html(lang='en')
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
body
    include navbar
    include header
    include about
    include projects
    include service
    include featured
    include team
    include feedback
    include subscribe
    include news
    include footer

