section.lp-top-navbar
    .container
        nav.navbar
            a.navbar-brand(href='/') Evana

            a.navbar-toggler(href='#0', data-toggle='collapse', data-target='#navbarHeader', role='button', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
                i.fas.fa-bars

            #navbarHeader.collapse.navbar-collapse.justify-content-end
                ul#lp-navbar-header.navbar-nav
                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#home') Home

                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#about') About

                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#projects') Projects

                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#service') Service

                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#team') Team

                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#subscribe') Subscribe

                    li.nav-item
                        a.nav-link.js-smooth-scroll(href='#news') News
