section#projects.lp-projects
    .row
        .col-md
            h3.text-primary.pb-1 We Make Amazing Products

            p.lead.pb-2.
                Excepteur sint occaecat cupidatat non proid ent,
                sunt in culpa qui officia dese

            p.pb-2.pb-md-6.
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua.

            img.img-fluid.pb-2.pb-md-4(src='../img/tumblr_okexlhBbme1sfyngeo3_540.jpg', alt='Product 1')

            img.img-fluid.pb-2.pb-md-4(src='../img/tumblr_ogcjxdyVom1sfyngeo1_1280.jpg', alt='Product 2')

        .col-md.pt-md-8.d-flex.flex-column.align-items-end
            img.img-fluid.pb-2.pb-md-4(src='../img/tumblr_oblfrx3bvu1sfyngeo2_1280.jpg', alt='Product 3')

            img.img-fluid.pb-2.pb-md-4(src='../img/tumblr_og2l4924tD1sfyngeo1_1280.jpg', alt='Product 4')

            a.lp-btn.lp-btn_next.mt-auto.pb-2.pb-md-4(href='/all') All Projects
section.lp-video
    .container.h-100
        .lp-video__display Evana

        .row.h-100.justify-content-end
            .col-md-9.col-xl-6.d-flex.flex-column.h-100.justify-content-end.text-right
                h2.text-white.pl-sm-7 Make The Web Better Everyday

                p.text-white.lead.pl-sm-4.pb-3.
                    Excepteur sint occaecat cupidatat non proid ent, sunt
                    in culpa qui officia dese

                a.lp-btn.lp-btn_video(href='/video') Play Video
