section#subscribe.lp-subscribe
    .row.justify-content-center
        .col-lg-6.col-md-9
            .text-center
                h5 We are Amazing in our works. </br> Subscribe now
                p.
                    Lorem ipsum dolor sit amet, conseetur adipisic ing elit, sed , sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation
    .row.justify-content-center
        .col-lg-8
            form.lp-subscribe-form
                input.lp-subscribe-form__input(type='email' placeholder='Your Email Address').form-control
                button.lp-subscribe-form__submit Subscribe
